# Usando groupby e Funções Descritivas

Neste arquivo, será feito a seleção de dados usando o atributo "**groupby**" e algumas funções descritivas. Com isso, vamos enriquecer o nosso conhecimento em pré-processamento de dados usando a linguagem de programação Python.

In [1]:
# importando o pacote pandas do python
import pandas as pd

In [2]:
# carregando os dados do dataset em um objeto
dados = pd.read_csv("bank.csv", encoding = "UTF-8", sep = ";")

In [3]:
# visualizando os primeiros exemplos treinaveis
dados.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

Vamos usar o atributo "**describe**" para observar diversas informações estatísticas sobre o dataset armazenada no objeto. Vale a pena salientar que só será válido para os campos de dados que possuem variáveis do tipo numérico.

In [4]:
# fazendo uma analise estatistica nos dados
dados.describe()

,age,balance,day,duration,campaign,pdays,previous
count,4521.000000,4521.000000,4521.000000,4521.000000,4521.000000,4521.000000,4521.000000
mean,41.170095,1422.657819,15.915284,263.961292,2.793630,39.766645,0.542579
std,10.576211,3009.638142,8.247667,259.856633,3.109807,100.121124,1.693562
min,19.000000,-3313.000000,1.000000,4.000000,1.000000,-1.000000,0.000000
25%,33.000000,69.000000,9.000000,104.000000,1.000000,-1.000000,0.000000
50%,39.000000,444.000000,16.000000,185.000000,2.000000,-1.000000,0.000000
75%,49.000000,1480.000000,21.000000,329.000000,3.000000,-1.000000,0.000000
max,87.000000,71188.000000,31.000000,3025.000000,50.000000,871.000000,25.000000

Mais adiante, será informado o que cada função descritiva representa em uma base de dados e como ela pode ser de grande auxílio para enxergar registros inconsistentes e faltantes.

Por exemplo "**mean**" é o valor médio de cada campo de dado com tipo de variável numérica. Assim, ela pode ser usado como atributo para visualizar o valor médio de um determinado campo de dado. Observe o exemplo abaixo.

In [5]:
# funções de agrupamento - média das idades
dados.age.mean()

41.17009511170095

Observe que o resultado está de acordo com o valor visto em "mean" no atributo "describe".

Não só com o valor médio podemos fazer isso, mas sim com todas as funções descritivas.

In [6]:
# funções de agrupamento - valor mínimo das idades
dados.age.min()

19

In [7]:
# funções de agrupamento - valor máximo das idades
dados.age.max()

87

Agora, podemos obter resultados estatísticos de uma determinada parcela de usuários que se enquadram com determinadas características. No exemplo abaixo, vamos observar o valor médio das idades de quem é casado.

In [8]:
# média de idade das pessoas casadas
dados[dados.marital == "married"].age.mean()

43.45441544511977

Agora, vamos fazer filtragens mais complexas com o auxílio do atributo "**groupby**". Nele, estaremos selecionando entre os campos de dados "marital", "education" e "age" a média individual das idades para quem possui cada um dos estágios de educação e estão em determinada situações conjugais.

In [9]:
# usando o atributo "groupby" para fazer uma seleção mais precisa
dados[["marital", "education", "age"]].groupby(["marital", "education"]).mean()

                          age
marital  education
divorced primary    51.392405
         secondary  43.496296
         tertiary   45.148387
         unknown    50.375000
married  primary    47.511407
         secondary  42.404345
         tertiary   41.777166
         unknown    48.444444
single   primary    37.013699
         secondary  33.052545
         tertiary   34.512821
         unknown    34.652174

Portanto, a parte de pré-processamento usando a biblioteca "Pandas" do Python está concluída. Agora podemos avançar com mais segurança no aprendizado de Machine Learning.

### Alguma dúvida? Entre em Contato Comigo:

- [Me envie um e-mail](mailto:alysson.barbosa@ee.ufcg.edu.br)