# Usando o Comando isin

Neste arquivo, vamos usar o comando isin para fazer a seleção de dados através de operadores lógicos. Com ele, podemos obter filtragens melhores em nossos resultados e, dessa forma, fazer um bom pré-processamento dos dados usando a linguagem de programação Python.

In [1]:
# importando o pacote pandas do python
import pandas as pd

In [2]:
# carregando os dados do dataset em um objeto
dados = pd.read_csv("bank.csv", encoding = "UTF-8", sep = ";")

In [3]:
# visualizando os primeiros exemplos treinaveis do dataset
dados.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [4]:
# dimensao dos dados
dados.shape

(4521, 17)

Vamos usar somente operadores lógicos para filtrar a seguinte informação do nosso campo de dados: a pessoa deve ser casada e ter educação primária ou secundária.
- ser casada e ter (educação primária ou secundária);
- casada e (primária ou secundária);

In [5]:
# dimensao dos dados filtrados
dados[(dados.marital == "married") & ((dados.education == "primary") | 
                                      (dados.education == "secondary"))].shape

(1953, 17)

Podemos refinar a pesquisa e obter o mesmo resultado através do código abaixo.

In [6]:
# dimensao dos dados filtrados
dados[(dados.marital == "married") & (dados.education.isin(["primary", "secondary"]))].shape

(1953, 17)

E agora, será utilizando o atributo "**isin**" da biblioteca "Pandas" do Python para fazer essa mesma seleção.

In [7]:
# criando um dicionario para filtrar mais os dados
filtro = dados.isin({"marital" : ["married"], "education" : ["primary", "secondary"]})
# dimensao dos dados filtrados
dados[(filtro.marital) & (filtro.education)].shape

(1953, 17)

Assim, foi possível fazer a filtragem lógica como o atributo "isin" da biblioteca "Pandas".

### Alguma dúvida? Entre em contato comigo:

- [Me envie um e-mail](mailto:alysson.barbosa@ee.ufcg.edu.br)