# Usando o Comando isin

Neste arquivo, vamos usar o comando isin para fazer a seleção de dados através de operadores lógicos. Com ele, podemos obter filtragens melhores em nossos resultados e, dessa forma, fazer um bom pré-processamento dos dados usando a linguagem de programação Python.

In [1]:
import pandas as pd
# importando a biblioteca "Pandas" do Python

In [2]:
dados = pd.read_csv("bank.csv", encoding = "UTF-8", sep = ";")
# atribuindo ao objeto "dados" todos os registros armazenados no banco de dados "Bank.csv"

In [3]:
dados
# observando na saída de dados os registros do objeto "dados"

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

In [4]:
dados.shape
# observando a dimensão do vetor multidimensional que é o objeto "dados"

(4521, 17)

Vamos usar somente operadores lógicos para filtrar a seguinte informação do nosso campo de dados: a pessoa deve ser casada e ter educação primária ou secundária.
- ser casada e ter (educação primária ou secundária);
- casada e (primária ou secundária);

In [5]:
dados[(dados.marital == "married") & ((dados.education == "primary") | 
                                      (dados.education == "secondary"))].shape
# observando a dimensão do vetor multidimensional correspondente aos registros que satisfazem a condição
# lógica dita acima

(1953, 17)

Podemos refinar a pesquisa e obter o mesmo resultado através do código abaixo.

In [6]:
dados[(dados.marital == "married") & (dados.education.isin(["primary", "secondary"]))].shape
# observando a dimensão do vetor multidimensional correspondente aos registros que satisfazem a condição
# lógica dita acima

(1953, 17)

E agora, será utilizando o atributo "**isin**" da biblioteca "Pandas" do Python para fazer essa mesma seleção.

In [7]:
filtro = dados.isin({"marital" : ["married"], "education" : ["primary", "secondary"]})

dados[(filtro.marital) & (filtro.education)].shape
# usando o atributo isin para obter os registros correspondentes a condição lógica dada acima
# observando a dimensão do vetor multidimensional correspondente aos registros que satisfazem a condição
# lógica dita acima

(1953, 17)

Assim, foi possível fazer a filtragem lógica como o atributo "isin" da biblioteca "Pandas".

### Alguma dúvida? Entre em contato comigo:

- [Me envie um e-mail](mailto:alyssonmachado388@gmail.com);