análise e estruturação de dados usando o pandas. ótima ferramenta para fazer o tratamento de dados.

In [1]:
# importando a biblioteca do python pandas
import pandas as pd

In [2]:
# abrindo o arquivo csv
df = pd.read_csv("dataframe.csv", encoding = "UTF-8", sep = ";")
# verificar a codificação do arquivo do dataframe para 
# garantir a compatibilidade, dependendo dos dados usados 
# no dataframe

# ver se os dados do arquivo csv estão separados por "," ou 
# ";". Dessa forma, colocamos no parâmetro sep

In [4]:
# o banco de dados usado é oferecido pela microsoft para que as pessoas comecem a trabalhar com eles

In [3]:
df.head()
# ler quais são os dados disponíveis no documento

,AddressID,AddressLine1,AddressLine2,City,StateProvinceID,PostalCode,SpatialLocation,rowguid,ModifiedDate
0,1,1970 Napa Ct.,NaN,Bothell,79,98011,0xE6100000010CAE8BFC28BCE4474067A89189898A5EC0,9AADCB0D-36CF-483F-84D8-585C2D4EC6E9,2007-12-04 00:00:00.000
1,2,9833 Mt. Dias Blv.,NaN,Bothell,79,98011,0xE6100000010CD6FA851AE6D74740BC262A0A03905EC0,32A54B9E-E034-4BFB-B573-A71CDE60D8C0,2008-11-30 00:00:00.000
2,3,7484 Roundtree Drive,NaN,Bothell,79,98011,0xE6100000010C18E304C4ADE14740DA930C7893915EC0,4C506923-6D1B-452C-A07C-BAA6F5B142A4,2013-03-07 00:00:00.000
3,4,9539 Glenside Dr,NaN,Bothell,79,98011,0xE6100000010C813A0D5F9FDE474011A5C28A7C955EC0,E5946C78-4BCC-477F-9FA1-CC09DE16A880,2009-02-03 00:00:00.000
4,5,1226 Shoe St.,NaN,Bothell,79,98011,0xE6100000010C61C64D8ABBD94740C460EA3FD8855EC0,FBAFF937-4A97-4AF0-81FD-B849900E9BB0,2008-12-19 00:00:00.000

In [6]:
df.shape
# verificar o tamanho da tabela, ou seja, a quantidade de dados presentes no arquivo

(1000, 9)

In [7]:
# 1000 linhas e 9 colunas

In [8]:
# especificando o cabeçalho do arquivo
df = pd.read_csv("dataframe.csv", encoding = "UTF-8", sep = ";", header = 0)
# dizemos que o cabeçalho começa na linha 0

In [9]:
df.head()

,AddressID,AddressLine1,AddressLine2,City,StateProvinceID,PostalCode,SpatialLocation,rowguid,ModifiedDate
0,1,1970 Napa Ct.,NaN,Bothell,79,98011,0xE6100000010CAE8BFC28BCE4474067A89189898A5EC0,9AADCB0D-36CF-483F-84D8-585C2D4EC6E9,2007-12-04 00:00:00.000
1,2,9833 Mt. Dias Blv.,NaN,Bothell,79,98011,0xE6100000010CD6FA851AE6D74740BC262A0A03905EC0,32A54B9E-E034-4BFB-B573-A71CDE60D8C0,2008-11-30 00:00:00.000
2,3,7484 Roundtree Drive,NaN,Bothell,79,98011,0xE6100000010C18E304C4ADE14740DA930C7893915EC0,4C506923-6D1B-452C-A07C-BAA6F5B142A4,2013-03-07 00:00:00.000
3,4,9539 Glenside Dr,NaN,Bothell,79,98011,0xE6100000010C813A0D5F9FDE474011A5C28A7C955EC0,E5946C78-4BCC-477F-9FA1-CC09DE16A880,2009-02-03 00:00:00.000
4,5,1226 Shoe St.,NaN,Bothell,79,98011,0xE6100000010C61C64D8ABBD94740C460EA3FD8855EC0,FBAFF937-4A97-4AF0-81FD-B849900E9BB0,2008-12-19 00:00:00.000

In [10]:
# mas podemos dizer que começa em outra linha
df = pd.read_csv("dataframe.csv", encoding = "UTF-8", sep = ";", header = 1)
# ele vai ignorar todos os arquivos acima

In [11]:
df.head()

,1,1970 Napa Ct.,NULL,Bothell,79,98011,0xE6100000010CAE8BFC28BCE4474067A89189898A5EC0,9AADCB0D-36CF-483F-84D8-585C2D4EC6E9,2007-12-04 00:00:00.000
0,2,9833 Mt. Dias Blv.,NaN,Bothell,79,98011,0xE6100000010CD6FA851AE6D74740BC262A0A03905EC0,32A54B9E-E034-4BFB-B573-A71CDE60D8C0,2008-11-30 00:00:00.000
1,3,7484 Roundtree Drive,NaN,Bothell,79,98011,0xE6100000010C18E304C4ADE14740DA930C7893915EC0,4C506923-6D1B-452C-A07C-BAA6F5B142A4,2013-03-07 00:00:00.000
2,4,9539 Glenside Dr,NaN,Bothell,79,98011,0xE6100000010C813A0D5F9FDE474011A5C28A7C955EC0,E5946C78-4BCC-477F-9FA1-CC09DE16A880,2009-02-03 00:00:00.000
3,5,1226 Shoe St.,NaN,Bothell,79,98011,0xE6100000010C61C64D8ABBD94740C460EA3FD8855EC0,FBAFF937-4A97-4AF0-81FD-B849900E9BB0,2008-12-19 00:00:00.000
4,6,1399 Firestone Drive,NaN,Bothell,79,98011,0xE6100000010CE0B4E50458DA47402F12A5F80C975EC0,FEBF8191-9804-44C8-877A-33FDE94F0075,2009-02-13 00:00:00.000

In [12]:
df = pd.read_csv("dataframe.csv", encoding = "UTF-8", sep = ";", header = 0)

In [13]:
# escolhendo a quantidade de colunas a serem usadas
df = pd.read_csv("dataframe.csv", encoding = "UTF-8", sep = ";", usecols = ["AddressID", "AddressLine1"])

In [14]:
df.head()

   AddressID          AddressLine1
0          1         1970 Napa Ct.
1          2    9833 Mt. Dias Blv.
2          3  7484 Roundtree Drive
3          4      9539 Glenside Dr
4          5         1226 Shoe St.

In [15]:
df.shape

(1000, 2)

In [18]:
# escolhendo a quantidade de linhas
df = pd.read_csv("dataframe.csv", encoding = "UTF-8", sep = ";", usecols = ["AddressID", "AddressLine1"],
                nrows = 500)

In [19]:
df.shape

(500, 2)

In [20]:
df.head()

   AddressID          AddressLine1
0          1         1970 Napa Ct.
1          2    9833 Mt. Dias Blv.
2          3  7484 Roundtree Drive
3          4      9539 Glenside Dr
4          5         1226 Shoe St.